html,
body,
body * {
  font-family: $font-regular;
  color: $color-text;

  @media screen and (max-width: $width_S) {
    -webkit-overflow-scrolling: touch;
  }
}

body.no-scrolling {
  height: 100vh;
  overflow: hidden;
}

b,
strong {
  font-family: $font-bold;
}

sup {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.section-container {
  position: relative;
  width: 90%;
  max-width: $max-width-container;
  margin: auto;

  @media screen and (max-width: $width_XS) {
    width: 100%;
    padding: 0 $section-padding-horizontal-mobile;
  }
}

.loader {
  display: block;
  width: 100px;
  height: auto;
  margin: 200px auto 0;
}

.back {
  color: #000000;
  position: relative;
  display: inline-block;
  padding-left: 20px;

  &::before,
  &::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 8px;
    height: 1px;
    transition: transform 0.25s ease-in-out;
  }

  &::before {
    top: calc(50% - 3px);
    transform: translate(0, -50%) rotate(-45deg);
  }

  &::after {
    top: calc(50% + 3px);
    transform: translate(0, -50%) rotate(45deg);
  }

  &:hover {
    &::before {
      transform: translate(-5px, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-5px, -50%) rotate(45deg);
    }
  }
}

table {
  width: 100%;
}

thead tr {
  background-color: $color-main;

  th {
    color: #ffffff;
  }
}

tbody tr {
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #eeeeee;
  }

  td:first-child {
    font-family: $font-bold;
  }
}

tr {
  border: 1px solid #eeeeee;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 20px 10px;

  a {
    color: $color-main;
    display: block;
  }
}

th {
  font-family: $font-bold;
}

.title {
  font-family: $font-bold;
  font-size: 28px;
  color: $color-main;
  text-align: center;
  margin-bottom: 50px;
}
