html,
body,
body * {
  font-family: $font-regular;

  @media screen and (max-width: $width_S) {
    -webkit-overflow-scrolling: touch;
  }
}

body.no-scrolling {
  height: 100vh;
  overflow: hidden;
}

b,
strong {
  font-family: $font-bold;
}

sup {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.section-container {
  position: relative;
  width: 90%;
  max-width: $max-width-container;
  margin: auto;

  @media screen and (max-width: $width_XS) {
    width: 100%;
    padding: 0 $section-padding-horizontal-mobile;
  }
}

.v-fade {
  display: inherit !important;
  transition: opacity 0.3s ease-in-out;

  &[style*="display: none;"] {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $popup-zindex;
  width: 100vw;
  height: 100%;

  &__close {
    @include cross(25px, $color-main);
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 60px;
    height: 100%;
    min-height: 50px;
    max-height: 80px;
    transition: background-color 0.25s ease-in-out;

    @media screen and (max-width: $width_S) {
      @include cross(20px, $color-main);
    }
  }

  &__wrapper {
    @include center;
    text-align: center;
    background-color: #ffffff;
    z-index: $popup-content-zindex;
    width: grid(6);
    max-width: 650px;
    padding: 40px 60px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    @media screen and (max-width: $width_M) {
      width: grid(8);
    }

    @media screen and (max-width: $width_S) {
      width: 100%;
      max-width: none;
    }

    &.show {
      opacity: 1;
    }
  }

  &__button {
    &-container {
      @include flexRowCenter;

      button {
        margin: 20px 10px 0;
      }
    }
  }
}

.overlay {
  z-index: $overlay-zindex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.show {
    opacity: 1;
  }
}

.title {
  font-family: $font-bold;
  font-size: 28px;
  color: $color-main;
  text-align: center;
  margin-bottom: 30px;
}

.subtitle {
  font-family: $font-bold;
  font-size: 22px;
  color: $color-text;
  text-align: left;
  margin-bottom: 20px;
}
