@mixin background() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin underlineHover($height, $color) {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  overflow: hidden;

  &::after {
    content: "";
    background-color: $color;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $height;
    transform: translateX(-101%);
    transition: transform 0.25s ease-in-out;
  }

  &:hover::after {
    transform: translateX(0);
  }
}
